.bg-athens-gray {
  background: #EDEFF3;
}

.bg-silver{
  background: #C4C3C3;
}

.bg-white {
  background: #ffffff;
}

.bg-ebony-clay {
  background: #202A3C;
}

.bg-ebony-dark {
  background:#050914;
}

.bg-transparent {
  background: transparent;
}

.bg-gallery{
  background: #eeeeee;
}