// Pixel values
.fn-s-8 {
  font-size: 8px;
}
.fn-s-13 {
  font-size: 13px;
}

.fn-s-14 {
  font-size: 14px;
}

.fn-s-15 {
  font-size: 15px;
}

.fn-s-16 {
  font-size: 16px;
}

.fn-s-17 {
  font-size: 17px;
}

.fn-s-19 {
  font-size: 19px;
}

.fn-s-20 {
  font-size: 20px;
}

.fn-s-25 {
  font-size: 25px;
}

.fn-s-29 {
  font-size: 29px;
}
