/********************
* ALL AROUND MARGINS
*********************/
.m-0{
  margin: 0;
}
.m-0-auto, .m-0-auto[type='checkbox']{
  margin: 0 auto;
}

.m-5{
  margin: 5px
}

/************
* TOP MARGINS
*************/

// Pixel values
.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-70 {
  margin-top: 70px;
}

// Percent values
.mt-20p {
  margin-top: 20%;
}

/**************
* RIGHT MARGINS
***************/

// Pixel values
.mr-5 {
  margin-right: 5px;
}
.mr-9 {
  margin-right: 9px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}
/***************
* BOTTOM MARGINS
****************/

// Pixel values
.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
   margin-bottom: 10px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-25{
  margin-bottom: 25px;
}
/***************
* LEFT MARGINS
****************/

// Pixel values
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}

.ml-11 {
  margin-left: 11px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-33 {
  margin-left: 33px;
}

.ml-45{
  margin-left: 45px;
}

.ml-90{
  margin-left: 90px;
}

.ml-150{
  margin-left: 150px;
}