/********************
* ALL AROUND PADDINGS
*********************/

// Pixel values
.p-0{
  padding: 0px;
}

.p-20 {
  padding: 20px;
}

/*************
* TOP PADDINGS
**************/

// Pixel values
.pt-0 {
  padding-top: 0;
}
.pt-5 {
  padding-top: 5px;
}

.pt-9 {
  padding-top: 9px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-13 {
  padding-top: 13px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}


/***************
* RIGHT PADDINGS
****************/

// Pixel values
.pr-3 {
  padding-right: 3px;
}
.pr-5 {
  padding-right: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-25 {
  padding-right: 25px;
}


/****************
* BOTTOM PADDINGS
*****************/

// Pixel values
.pb-0 {
  padding-bottom: 0;
}
.pb-4 {
  padding-bottom: 4px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-30 {
  padding-bottom: 30px;
}

/**************
* LEFT PADDINGS
***************/

// Pixel values
.pl-3 {
  padding-left: 3px;
}
.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-25 {
  padding-left: 25px;
}